beautifulsoup4==4.5.3
bs4==0.0.1
chardet==2.3.0
command-not-found==0.3
distro-info===0.14build1
ftfy==4.3.1
GoDaddyPy==2.1.2
gTTS==1.1.8
gTTS-token==1.1.1
html5lib==0.999999999
language-selector==0.1
lxml==3.7.2
pygobject==3.22.0
python-apt==1.1.0b5
python-debian==0.1.29
PyYAML==3.11
requests==2.10.0
sh==1.12.9
six==1.10.0
SpeechRecognition==3.6.3
ssh-import-id==5.6
systemd-python==232
termcolor==1.1.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.15.1
virtualenv==15.0.3
vk==2.0.2
wcwidth==0.1.7
webencodings==0.5
